.login-form-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  .login-form {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    background: #fff;
    border: 1px solid #bbb;
    label {
      display: block;
      p {
        margin-bottom: 2px;
      }
    }
  }
}
